

  #bio-page header {
	  display: block;

	}
	#bio-page ul {
	  list-style-type: none;
	  padding:0;
	  width: 170px;
	  background-color: #f1f1f1;
	  position: fixed;
    left:0;
	  height: 100%;
	  overflow: auto;

	}

	#bio-page li a {
	  display: block;
	  color: #000;
	  padding: 8px 16px;
	  text-decoration: none;
	}

	#bio-page li a.active {
	  background-color: #04AA6D;
	  color: white;
	}

  #bio-page li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



.test{

  margin-left:10%;
  padding:1px 16px;
}

.cli {
        display: block;
        height: 4rem; /*和顶部fixed的高度一致*/
        margin-top: -4rem; /*和顶部fixed的高度一致*/
        visibility: hidden;
     }


     [data-tab-content] {
   display: none;
 }

 .active[data-tab-content] {
   display: block;
 }

     .tab {
       cursor: pointer;
       display: block;
       color: #000;
       padding: 8px 16px;
       text-decoration: none;
     }

  .active {
    background-color: #04aa6d;
    color: #fff;
  }

  .hover {
    background-color: #aaa;
  }
